repos:
-  repo: https://github.com/astral-sh/ruff-pre-commit
   rev: v0.14.5
   hooks:
     # Run the linter.
     - id: ruff-check
       args: ['--fix']
     # Run the formatter.
     - id: ruff-format
- repo: https://github.com/PyCQA/bandit
  rev: 1.8.6
  hooks:
    - id: bandit
      args: ['-c', 'pyproject.toml', '--recursive']
      additional_dependencies: ['bandit[toml]']
