{% extends "modeladmin/index.html" %}
{% load i18n modeladmin_tags wagtailadmin_tags treemodeladmin_tags %}

{% block breadcrumb %}
    {% include "treemodeladmin/includes/breadcrumb.html" %}
{% endblock %}

{% block h1 %}
    <h1>
        {{ view.get_page_title }}
        {% if view.get_page_subtitle %} <span class="header__subtitle">{{ view.get_page_subtitle }}</span> {% endif %}
    </h1>
{% endblock %}

{% block header_extra %}
    <div class="right header-right">
        {% if view.list_export or user_can_create %}
            <div class="actionbutton">
                {% if user_can_create %}
                    {% include 'modeladmin/includes/button.html' with button=view.get_parent_edit_button %}
                    {% include 'modeladmin/includes/button.html' with button=view.get_add_button_with_parent %}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block result_list %}
    {% if not all_count %}
        <div class="nice-padding" style="margin-top:30px;">
            {% if no_valid_parents %}
                <p>{% blocktrans with view.verbose_name_plural as name %}No {{ name }} have been created yet. One of the following must be created before you can add any {{ name }}:{% endblocktrans %}</p>
                <ul>
                    {% for type in required_parent_types %}<li><b>{{ type|title }}</b></li>{% endfor %}
                </ul>
            {% else %}
                <p>{% blocktrans with view.verbose_name_plural as name %}No {{ name }} have been created yet.{% endblocktrans %}
                {% if user_can_create %}
                    {% blocktrans with view.create_url as url %}
                        Why not <a href="{{ url }}">add one</a>?
                    {% endblocktrans %}
                {% endif %}</p>
            {% endif %}
        </div>
    {% elif view.has_child %}
        {% tree_result_list %}
    {% else %}
        {% result_list %}
    {% endif %}
{% endblock %}
